*{
	font-family: 'Onest', sans-serif;
	font-weight: 700;
	user-select: none;
}

.links{
	text-decoration: none;
	color: #00CED1;
    background-color: #666;
    padding: 10px;
	transition: .5s;
    border-radius: 30px;
}
.div_container{
	position: sticky;
	top:0;
    background-color: white;
}
.links:hover{
	color: #000;
	background-color: #00CED1;
	padding: 10px 15px;
	box-shadow: 0px 0px 20px #00CED1;
}
ul{
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	text-align: center;
}


.links:active{
	color: rgb(0, 234, 255);
}

.list_ul{
	margin: 10px 20px;
	min-width: 180px;
}
.change_list{
	left: 0px;

}
.fas{
	margin: 5px;
	text-align: left;
}
.portfolio{
	color: #20B2AA;
	text-decoration:none;
	font-size: 30pt;
	transition: .3s;
}
.portfolio:hover{
	text-shadow: #1be6dc 0px 0px 5px;
}

.form_img_container{
    margin: 75px;
	width: 50vh;
    min-width: 450px;
    min-height: 450px;
	transition: .6s;
	animation: mover_intercalado .7s;
	animation-direction:alternate-reverse;
}
.form_img_container img{
    border-radius: 50%;
	
}
.form_img_container:hover{
	transform: scale(115%);
	
}
.main_section{
    display: flex;
    justify-content: space-between;
	height: 100vh;
}
.titte_container{
	font-size: 30pt;
	display: grid;
	place-items: center;
	width: 400px;
	animation: typing 1s steps(10), blink_animation .1s step-end 13 alternate;
	white-space: nowrap;
	overflow: hidden;
}
.resume_container{
	line-height:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 900px;
}
.main_content{
    display: flex;
	width: 100%;
	align-items: center;
	justify-content:space-evenly;
}

.p_container{
    text-align: center;
}

.secondary_section{
	display:grid;
	grid-template-columns: 2;
	grid-template-rows: repeat(2,1fr);
	background: #555;
	grid-gap: 20px;
	border: 20px solid #555;
	color: #fff;
	border-radius: 0px 0px 20px 20px;

}
.container_educations{
	background-color: #000;
}
.edu_tittle{
	grid-column: 1/span 3;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #00CED1;
	font-size: 30pt;
	border-radius: 30px;
	transition: all .5s;
}
.edu_tittle:hover{
	background-color: #000;
	color: #fff;
	border-color: #00CED1;
	box-shadow: 0px 0px 10px #00CED1;
	text-shadow: 0px 0px 10px #fff;
}
.container_educations{
	padding: 20px;
	text-align: center;
	border: 10px solid #000000;
	overflow: hidden;
	border-radius: 20px;
	outline: 5px solid #333;
	cursor: auto;
	transition: all .5s;
}
.content_section{
	border-radius: 20px;
	border: 2px solid #fff;
	cursor: auto;
}

.container_educations:hover{
	background-color: #00CED1;
	border: 10px solid #00CED1;
	outline: 5px solid #fff;
}
.container_educations:hover>.content_section{
	background-color: #fff;
	color: #000;
	transition: all .5s;
}

.third_section{
	background-color: #888;
	margin: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
}

.tittle_jobs_section{
	padding: 5px;
	margin: 20px;
	margin-top: 10px;
	background-color: #00CED1;
	border-radius: 30px;
	transition: all 0.5s;
}

.third_section:hover>.tittle_jobs_section{
	background-color: #000;
	text-shadow: 0px 0px 10px #fff;
	color: #fff;
	outline: 5px solid #fff;
	cursor: pointer;

}

.jobs_content{
	margin: 50px 200px;
	padding: 50px;
	background-color: #555;
	color: #fff;
	border-radius: 50px;
	box-shadow: 0px 0px 50px #fff;
}

@keyframes mover_intercalado {
	0%{
		transform: scale(100%) translateX(0);
	}
	50%{
		transform: scale(50%) translateX(50%);
	}
	100%{
		transform: scale(900%) translateX(100%);
	}
}

@keyframes typing {
	from{
		width: 0;
	}
	to{
		width: 400px;
	}
}

@keyframes blink_animation {
	50%{
		border-right: 3px solid #000;
	}
}